{
  "development": {
    "username": "root",
    "password": "password",
    "database": "job-application-manager-db",
    "host": "127.0.0.1",
    "dialect": "mysql",
    "jwtSecret": "randomstringplaceholder"
  },
  "test": {
    "username": "root",
    "password": null,
    "database": "database_test",
    "host": "127.0.0.1",
    "dialect": "mysql"
  },
  "production": {
    "username": "root",
    "password": null,
    "database": "database_production",
    "host": "127.0.0.1",
    "dialect": "mysql"
  }
}
